openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Authentication API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Authentication
paths:
  /v3/auth/direct:
    post:
      description: Authenticate user with provider credentials and SSO groups
      tags:
      - Authentication
      summary: Direct authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectAuthResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectAuthRequest'
        description: Authentication request
        required: true
      operationId: postV3AuthDirect
      x-operation-id-source: derived
components:
  schemas:
    DirectAuthResponse:
      type: object
      properties:
        token:
          type: string
    DirectAuthRequest:
      type: object
      required:
      - email
      - external_id
      - name
      - provider
      properties:
        email:
          type: string
        external_group_names:
          type: array
          items:
            type: string
        external_id:
          type: string
        name:
          type: string
        provider:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
