openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Patch Feed API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: PatchFeed
paths:
  /external/patch_feed:
    get:
      description: Retrieves CVE tickets with status "done" for public patch feed consumption. No authentication required.
      tags:
      - PatchFeed
      summary: Get patch feed data
      parameters:
      - description: Ecosystem (e.g., alpine, debian, ubuntu)
        name: ecosystem
        in: query
        schema:
          type: string
      - description: OS distribution major version (e.g., 3.15, 12, 22.04)
        name: os_distro_major
        in: query
        schema:
          type: string
      - description: Package Source Name
        name: package_src_name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchFeedResponse'
      operationId: getExternalPatchFeed
      x-operation-id-source: derived
components:
  schemas:
    v3.PatchFeedPackageWrapper:
      type: object
      properties:
        pkg:
          $ref: '#/components/schemas/v3.PatchFeedPackage'
    v3.PatchFeedPackage:
      type: object
      properties:
        name:
          type: string
        secfixes:
          $ref: '#/components/schemas/v3.PatchFeedPackageSecFixes'
    v3.PatchFeedPackageSecFixes:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    v3.SingleDistroFeedResponse:
      type: object
      properties:
        archs:
          type: array
          items:
            type: string
        distroversion:
          type: string
        packages:
          type: array
          items:
            $ref: '#/components/schemas/v3.PatchFeedPackageWrapper'
    PatchFeedResponse:
      type: object
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/v3.SingleDistroFeedResponse'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
