openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Accounts API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Accounts
paths:
  /v3/accounts:
    get:
      security:
      - BasicAuth: []
      description: List accounts in an organization with cursor-based pagination
      tags:
      - Accounts
      summary: List accounts
      parameters:
      - description: After cursor for next page
        name: after
        in: query
        schema:
          type: string
      - description: Before cursor for previous page
        name: before
        in: query
        schema:
          type: string
      - description: Page size (max 1000)
        name: limit
        in: query
        schema:
          type: integer
          default: 100
      - description: Ordering (e.g., 'created_at:desc')
        name: order
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Filter by email
        name: email
        in: query
        schema:
          type: string
      - description: Filter by role (admin, member, readonly)
        name: role
        in: query
        schema:
          type: string
          enum:
          - admin
          - member
          - readonly
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsPagedResponse'
      operationId: getV3Accounts
      x-operation-id-source: derived
  /v3/accounts/{account_id}:
    delete:
      security:
      - BasicAuth: []
      description: Delete an account from the organization
      tags:
      - Accounts
      summary: Delete account
      parameters:
      - description: Account ID
        name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
      operationId: deleteV3AccountsByAccountId
      x-operation-id-source: derived
    patch:
      security:
      - BasicAuth: []
      description: Update account role (org-scoped)
      tags:
      - Accounts
      summary: Update account
      parameters:
      - description: Account ID
        name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        description: Account update request
        required: true
      operationId: patchV3AccountsByAccountId
      x-operation-id-source: derived
  /v3/me:
    get:
      security:
      - BasicAuth: []
      description: Returns the authenticated user's account with organization details
      tags:
      - Accounts
      summary: Get current user's account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
      operationId: getV3Me
      x-operation-id-source: derived
components:
  schemas:
    OrganizationKind:
      type: string
      enum:
      - public
      - private
      x-enum-varnames:
      - OrganizationKindPublic
      - OrganizationKindPrivate
    OrganizationBrief:
      type: object
      properties:
        id:
          type: string
        kind:
          $ref: '#/components/schemas/OrganizationKind'
        name:
          type: string
    ListAccountsPagedResponse:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/Cursor'
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountResponse'
    UpdateAccountRequest:
      type: object
      required:
      - role
      properties:
        role:
          $ref: '#/components/schemas/Role'
    Role:
      type: string
      enum:
      - admin
      - member
      - readonly
      x-enum-varnames:
      - RoleAdmin
      - RoleMember
      - RoleReadonly
    Cursor:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        limit:
          type: integer
        total_count:
          description: TotalCount is the number of rows matching the list filters for endpoints that populate it (e.g. security findings list). Response-only.
          type: integer
    AccountResponse:
      type: object
      properties:
        created_at:
          type: string
        email:
          type: string
        external_id:
          type: string
        id:
          type: string
        impersonated_by:
          $ref: '#/components/schemas/AccountResponse'
        impersonation_expiry:
          type: string
        impersonation_issuer_id:
          type: string
        is_super_admin:
          type: boolean
        last_login_at:
          type: string
        name:
          type: string
        organization:
          $ref: '#/components/schemas/OrganizationBrief'
        organization_id:
          type: string
        provider:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        updated_at:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
