openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Core - Discovered Packages V3 API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Core - Discovered Packages V3
paths:
  /v3/discovered-packages:
    get:
      security:
      - BasicAuth: []
      description: Retrieves discovered packages with vulnerability tracking and Root.io upgrade availability
      tags:
      - Core - Discovered Packages V3
      summary: List discovered packages from artifact repositories
      parameters:
      - description: After cursor for pagination
        name: after
        in: query
        schema:
          type: string
      - description: Before cursor for pagination
        name: before
        in: query
        schema:
          type: string
      - description: Page size (default 100, max 1000)
        name: limit
        in: query
        schema:
          type: integer
      - description: Order by (e.g., 'created_at:desc')
        name: order
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Filter by ecosystem
        name: ecosystem
        in: query
        schema:
          type: string
          enum:
          - pypi
          - npm
          - maven
          - nuget
      - description: Filter by package name (source name)
        name: package_name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/discovered_packages.ListDiscoveredPackagesPagedResponse'
      operationId: getV3DiscoveredPackages
      x-operation-id-source: derived
components:
  schemas:
    v3.SLAInfo:
      type: object
      properties:
        cve_id:
          type: string
        organization_id:
          type: string
        patch_found_at:
          type: string
        root_patch_provided_at:
          type: string
        severity:
          $ref: '#/components/schemas/v3.CVESeverity'
        sla_deadline_at:
          type: string
        sla_started_at:
          type: string
        sla_status:
          $ref: '#/components/schemas/v3.SLAStatus'
    v3.CVESeverity:
      type: string
      enum:
      - critical
      - high
      - medium
      - low
      - unknown
      x-enum-varnames:
      - CveSeverityCritical
      - CveSeverityHigh
      - CveSeverityMedium
      - CveSeverityLow
      - CveSeverityUnknown
    discovered_packages.DiscoveredPackageResponse:
      type: object
      properties:
        available_root_fixable_cve_ids:
          description: 'CVE IDs newly fixed by upgrading to AvailableRootVersion. Empty when no

            upgrade applies.'
          type: array
          items:
            type: string
        available_root_version:
          description: Highest applicable Root.io patch version; empty when no upgrade applies.
          type: string
        cves:
          description: Current CVEs with full details
          type: array
          items:
            $ref: '#/components/schemas/v3.CVE'
        ecosystem:
          description: pypi, npm, maven, etc.
          type: string
        fixed_cves:
          description: CVEs fixed by root version
          type: array
          items:
            type: string
        last_pulled_at:
          description: Last detected timestamp
          type: string
        open_cves:
          description: CVEs not fixed by root version
          type: array
          items:
            type: string
        package_name:
          description: Source package name (canonical)
          type: string
        resolved_cves:
          description: CVEs resolved by user's updates
          type: array
          items:
            $ref: '#/components/schemas/v3.CVE'
        root_available:
          description: Has Root.io upgrade available
          type: boolean
        root_used:
          description: Currently using Root.io version
          type: boolean
        version:
          description: Current version
          type: string
    Cursor:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        limit:
          type: integer
        total_count:
          description: TotalCount is the number of rows matching the list filters for endpoints that populate it (e.g. security findings list). Response-only.
          type: integer
    v3.SLAStatus:
      type: string
      enum:
      - met
      - active
      - breached
      - not_applicable
      x-enum-varnames:
      - SLAStatusMet
      - SLAStatusActive
      - SLAStatusBreached
      - SLAStatusNotApplicable
    discovered_packages.ListDiscoveredPackagesPagedResponse:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/Cursor'
        data:
          type: array
          items:
            $ref: '#/components/schemas/discovered_packages.DiscoveredPackageResponse'
    v3.CVE:
      type: object
      properties:
        avr_scan_id:
          type: string
        created_at:
          type: string
        cve_id:
          description: CVE identity (duplicated per scan)
          type: string
        cve_ticket_id:
          description: Denormalized for fast SLA joins
          type: string
        cvss_score:
          type: number
        cvss_vector:
          type: string
        description:
          type: string
        discovered_at:
          type: string
        fixed_in_version:
          description: Fix information (duplicated - fast queries)
          type: string
        id:
          type: string
        nvd_link:
          type: string
        organization_id:
          type: string
        package_id:
          type: string
        published_at:
          type: string
        severity:
          $ref: '#/components/schemas/v3.CVESeverity'
        sla:
          description: SLA relationship (from materialized view, filtered by requesting org)
          allOf:
          - $ref: '#/components/schemas/v3.SLAInfo'
        title:
          type: string
        updated_at:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
