openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Remediation API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Remediation
paths:
  /v3/analyze/apk:
    post:
      description: Accepts a list of installed APK/Alpine packages with explicit ecosystem and distro version, returns Root.io patched versions with aliased names and official repo upgrades
      tags:
      - Remediation
      summary: Get APK package remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analyze.AnalyzeOsPackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analyze.AnalyzeOsPackagesRequest'
        description: Package list with OS ecosystem and distro version
        required: true
      operationId: postV3AnalyzeApk
      x-operation-id-source: derived
  /v3/analyze/apt:
    post:
      description: Accepts a list of installed APT/Debian/Ubuntu packages with explicit ecosystem and distro version, returns Root.io patched versions with aliased names and official repo upgrades
      tags:
      - Remediation
      summary: Get APT package remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analyze.AnalyzeOsPackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analyze.AnalyzeOsPackagesRequest'
        description: Package list with OS ecosystem and distro version
        required: true
      operationId: postV3AnalyzeApt
      x-operation-id-source: derived
  /v3/analyze/composer:
    post:
      description: Accepts a list of installed Composer packages and returns Root.io patched versions with aliased names
      tags:
      - Remediation
      summary: Get Composer package remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComposerAnalyzePackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComposerAnalyzePackagesRequest'
        description: Package list
        required: true
      operationId: postV3AnalyzeComposer
      x-operation-id-source: derived
  /v3/analyze/golang:
    post:
      description: Accepts a list of installed Go modules and returns Root.io patched versions with aliased module paths
      tags:
      - Remediation
      summary: Get Go module remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GolangAnalyzePackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GolangAnalyzePackagesRequest'
        description: Module list
        required: true
      operationId: postV3AnalyzeGolang
      x-operation-id-source: derived
  /v3/analyze/maven:
    post:
      description: Accepts a list of installed Maven packages and returns Root.io patched versions with aliased names
      tags:
      - Remediation
      summary: Get Maven package remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MavenAnalyzePackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MavenAnalyzePackagesRequest'
        description: Package list
        required: true
      operationId: postV3AnalyzeMaven
      x-operation-id-source: derived
  /v3/analyze/npm:
    post:
      description: Accepts a list of installed NPM packages and returns Root.io patched versions with aliased names
      tags:
      - Remediation
      summary: Get NPM package remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpmAnalyzePackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpmAnalyzePackagesRequest'
        description: Package list
        required: true
      operationId: postV3AnalyzeNpm
      x-operation-id-source: derived
  /v3/analyze/nuget:
    post:
      description: Accepts a list of installed NuGet packages and returns Root.io patched versions with aliased names
      tags:
      - Remediation
      summary: Get NuGet package remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NugetAnalyzePackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NugetAnalyzePackagesRequest'
        description: Package list
        required: true
      operationId: postV3AnalyzeNuget
      x-operation-id-source: derived
  /v3/analyze/pypi:
    post:
      description: Accepts a list of installed packages and returns Root.io patched versions with aliased names
      tags:
      - Remediation
      summary: Get PyPI package remediation recommendations
      deprecated: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PyPiAnalyzePackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PyPiAnalyzePackagesRequest'
        description: Package list
        required: true
      operationId: postV3AnalyzePypi
      x-operation-id-source: derived
  /v3/analyze/yum:
    post:
      description: Accepts a list of installed YUM/DNF packages (Amazon Linux, RHEL, Rocky, Fedora) with explicit ecosystem and distro version, returns Root.io patched versions with aliased names and official repo upgrades
      tags:
      - Remediation
      summary: Get YUM/DNF package remediation recommendations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analyze.AnalyzeOsPackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analyze.AnalyzeOsPackagesRequest'
        description: Package list with OS ecosystem and distro version
        required: true
      operationId: postV3AnalyzeYum
      x-operation-id-source: derived
  /v3/remediate/pypi:
    post:
      description: Accepts a list of installed packages and returns Root.io patched versions with aliased names
      tags:
      - Remediation
      summary: Get PyPI package remediation recommendations
      deprecated: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PyPiAnalyzePackagesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PyPiAnalyzePackagesRequest'
        description: Package list
        required: true
      operationId: postV3RemediatePypi
      x-operation-id-source: derived
components:
  schemas:
    analyze.PatchInfo:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
    MavenAnalyzePackagesRequest:
      type: object
      required:
      - packages
      properties:
        ignore:
          description: 'Ignore is an optional list of packages to exclude from patch recommendations

            (e.g. packages already on a Root.io build). Ignored packages only appear in

            the result if a strictly newer build is available.'
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
        packages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
    ComposerAnalyzePackagesResponse:
      type: object
      properties:
        patches:
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackagePatch'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/analyze.SkippedPackage'
    analyze.PackagePatch:
      type: object
      properties:
        cve_ids:
          type: array
          items:
            type: string
        embedded_via:
          description: EmbeddedVia is non-nil when the fix ships via a parent vendor bump.
          allOf:
          - $ref: '#/components/schemas/EmbeddedRef'
        package_name:
          type: string
        patch:
          $ref: '#/components/schemas/analyze.PatchInfo'
        patch_alias:
          $ref: '#/components/schemas/analyze.PatchInfo'
        version:
          type: string
    NpmAnalyzePackagesRequest:
      type: object
      required:
      - packages
      properties:
        ignore:
          description: 'Ignore is an optional list of packages to exclude from patch recommendations

            (e.g. packages already on a Root.io build). Ignored packages only appear in

            the result if a strictly newer build is available.'
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
        packages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
    analyze.UpgradeableOsPackage:
      type: object
      properties:
        current_version:
          type: string
        cve_ids:
          type: array
          items:
            type: string
        package_name:
          type: string
        upgrade_version:
          type: string
    NpmAnalyzePackagesResponse:
      type: object
      properties:
        patches:
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackagePatch'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/analyze.SkippedPackage'
    analyze.AnalyzeOsPackagesResponse:
      type: object
      properties:
        patches:
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackagePatch'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/analyze.SkippedPackage'
        upgradeable:
          type: array
          items:
            $ref: '#/components/schemas/analyze.UpgradeableOsPackage'
    NugetAnalyzePackagesResponse:
      type: object
      properties:
        patches:
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackagePatch'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/analyze.SkippedPackage'
    NugetAnalyzePackagesRequest:
      type: object
      required:
      - packages
      properties:
        ignore:
          description: 'Ignore is an optional list of packages to exclude from patch recommendations

            (e.g. packages already on a Root.io build). Ignored packages only appear in

            the result if a strictly newer build is available.'
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
        packages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
    GolangAnalyzePackagesRequest:
      type: object
      required:
      - packages
      properties:
        ignore:
          description: 'Ignore is an optional list of packages to exclude from patch recommendations

            (e.g. packages already on a Root.io build). Ignored packages only appear in

            the result if a strictly newer build is available.'
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
        packages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
    analyze.PackageInfo:
      type: object
      required:
      - name
      - version
      properties:
        embedded_in:
          description: EmbeddedIn is non-nil when this package is vendored inside another (PyPI).
          allOf:
          - $ref: '#/components/schemas/EmbeddedRef'
        name:
          type: string
        version:
          type: string
    GolangAnalyzePackagesResponse:
      type: object
      properties:
        patches:
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackagePatch'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/analyze.SkippedPackage'
    MavenAnalyzePackagesResponse:
      type: object
      properties:
        patches:
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackagePatch'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/analyze.SkippedPackage'
    PyPiAnalyzePackagesResponse:
      type: object
      properties:
        patches:
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackagePatch'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/analyze.SkippedPackage'
    analyze.AnalyzeOsPackagesRequest:
      type: object
      required:
      - ecosystem
      - os_distro_version
      - packages
      properties:
        ecosystem:
          type: string
        os_distro_version:
          type: string
        packages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
    EmbeddedRef:
      type: object
      properties:
        name:
          description: parent name, e.g. "setuptools"
          type: string
        path:
          description: Path locates the inner *.dist-info; absolute on scans, relative on audit rows.
          type: string
        version:
          description: parent version, e.g. "65.5.0"
          type: string
    analyze.SkippedPackage:
      type: object
      properties:
        package_name:
          type: string
        version:
          type: string
    ComposerAnalyzePackagesRequest:
      type: object
      required:
      - packages
      properties:
        ignore:
          description: 'Ignore is an optional list of packages to exclude from patch recommendations

            (e.g. packages already on a Root.io build). Ignored packages only appear in

            the result if a strictly newer build is available.'
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
        packages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
    PyPiAnalyzePackagesRequest:
      type: object
      required:
      - packages
      properties:
        ignore:
          description: 'Ignore is an optional list of packages to exclude from patch recommendations

            (e.g. packages already on a Root.io build). Ignored packages only appear in

            the result if a strictly newer build is available.'
          type: array
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
        packages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/analyze.PackageInfo'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
