openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io API Keys API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: API Keys
paths:
  /v3/api_keys:
    get:
      security:
      - BasicAuth: []
      description: List API keys with cursor-based pagination and filtering
      tags:
      - API Keys
      summary: List API keys
      parameters:
      - description: After cursor for next page
        name: after
        in: query
        schema:
          type: string
      - description: Before cursor for previous page
        name: before
        in: query
        schema:
          type: string
      - description: Page size (max 1000)
        name: limit
        in: query
        schema:
          type: integer
          default: 100
      - description: Ordering (e.g., 'created_at:desc')
        name: order
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Filter by account ID
        name: account_id
        in: query
        schema:
          type: string
      - description: Filter by active status
        name: active
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAPIKeysPagedResponse'
      operationId: getV3ApiKeys
      x-operation-id-source: derived
    post:
      security:
      - BasicAuth: []
      description: Creates a new API key for the authenticated user
      tags:
      - API Keys
      summary: Create API key
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
        description: API key create request
        required: true
      operationId: postV3ApiKeys
      x-operation-id-source: derived
  /v3/api_keys/{api_key_id}:
    get:
      security:
      - BasicAuth: []
      description: Retrieves a specific API key by ID
      tags:
      - API Keys
      summary: Get API key
      parameters:
      - description: API Key ID
        name: api_key_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
      operationId: getV3ApiKeysByApiKeyId
      x-operation-id-source: derived
    delete:
      security:
      - BasicAuth: []
      description: Delete an API key
      tags:
      - API Keys
      summary: Delete API key
      parameters:
      - description: API Key ID
        name: api_key_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
      operationId: deleteV3ApiKeysByApiKeyId
      x-operation-id-source: derived
    patch:
      security:
      - BasicAuth: []
      description: Partially update an API key
      tags:
      - API Keys
      summary: Patch API key
      parameters:
      - description: API Key ID
        name: api_key_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAPIKeyRequest'
        description: API key patch request
        required: true
      operationId: patchV3ApiKeysByApiKeyId
      x-operation-id-source: derived
components:
  schemas:
    OrganizationKind:
      type: string
      enum:
      - public
      - private
      x-enum-varnames:
      - OrganizationKindPublic
      - OrganizationKindPrivate
    OrganizationBrief:
      type: object
      properties:
        id:
          type: string
        kind:
          $ref: '#/components/schemas/OrganizationKind'
        name:
          type: string
    PatchAPIKeyRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          maxLength: 100
          minLength: 1
    ListAPIKeysPagedResponse:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/Cursor'
        data:
          type: array
          items:
            $ref: '#/components/schemas/APIKeyResponse'
    CreateAPIKeyRequest:
      type: object
      properties:
        expires_at:
          type: string
        name:
          type: string
          maxLength: 100
        role:
          enum:
          - admin
          - member
          - readonly
          allOf:
          - $ref: '#/components/schemas/Role'
        type:
          enum:
          - user
          - service
          allOf:
          - $ref: '#/components/schemas/AccountType'
    APIKeyResponse:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountBrief'
        account_id:
          type: string
        active:
          type: boolean
        created_at:
          type: string
        created_by:
          $ref: '#/components/schemas/APIKeyCreatedBy'
        expires_at:
          type: string
        id:
          type: string
        key:
          type: string
        last_used_at:
          type: string
        name:
          type: string
        organization:
          $ref: '#/components/schemas/OrganizationBrief'
        organization_id:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        type:
          $ref: '#/components/schemas/AccountType'
        updated_at:
          type: string
    AccountType:
      type: string
      enum:
      - user
      - service
      x-enum-varnames:
      - AccountTypeUser
      - AccountTypeService
    Role:
      type: string
      enum:
      - admin
      - member
      - readonly
      x-enum-varnames:
      - RoleAdmin
      - RoleMember
      - RoleReadonly
    Cursor:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        limit:
          type: integer
        total_count:
          description: TotalCount is the number of rows matching the list filters for endpoints that populate it (e.g. security findings list). Response-only.
          type: integer
    AccountBrief:
      type: object
      properties:
        email:
          type: string
        id:
          type: string
        name:
          type: string
        role:
          $ref: '#/components/schemas/Role'
    APIKeyCreatedBy:
      type: object
      properties:
        account_id:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          $ref: '#/components/schemas/Role'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
