openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Notifications API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Notifications
paths:
  /v3/notifications:
    get:
      security:
      - BasicAuth: []
      description: List the caller-org's notifications, cursor-paged, default sort created_at:desc.
      tags:
      - Notifications
      summary: List notifications
      parameters:
      - description: Cursor for next page
        name: after
        in: query
        schema:
          type: string
      - description: Cursor for previous page
        name: before
        in: query
        schema:
          type: string
      - description: Page size (default 100, max 1000)
        name: limit
        in: query
        schema:
          type: integer
      - description: Ordering (e.g., 'created_at:desc')
        name: order
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Filter by seen state
        name: seen
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotificationsResponse'
      operationId: getV3Notifications
      x-operation-id-source: derived
  /v3/notifications/read_all:
    post:
      security:
      - BasicAuth: []
      description: Flip every unseen notification in the caller's org to seen=true. Idempotent.
      tags:
      - Notifications
      summary: Mark all notifications as seen
      responses:
        '204':
          description: No Content
      operationId: postV3NotificationsReadAll
      x-operation-id-source: derived
  /v3/notifications/unread-count:
    get:
      security:
      - BasicAuth: []
      description: Returns the number of unseen notifications for the caller's org.
      tags:
      - Notifications
      summary: Count unread notifications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCountResponse'
      operationId: getV3NotificationsUnreadCount
      x-operation-id-source: derived
  /v3/notifications/{notificationID}:
    patch:
      security:
      - BasicAuth: []
      description: Update the `seen` state of a notification. Only `seen` is mutable.
      tags:
      - Notifications
      summary: Patch a notification (mark seen/unseen)
      parameters:
      - description: Notification ID
        name: notificationID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchNotificationRequest'
        description: Patch payload
        required: true
      operationId: patchV3NotificationsByNotificationID
      x-operation-id-source: derived
components:
  schemas:
    ListNotificationsResponse:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/Cursor'
        data:
          type: array
          items:
            $ref: '#/components/schemas/NotificationResponse'
    PatchNotificationRequest:
      type: object
      required:
      - seen
      properties:
        seen:
          type: boolean
    FixedCVE:
      type: object
      properties:
        cve_id:
          type: string
        severity:
          $ref: '#/components/schemas/v3.CVESeverity'
    v3.CVESeverity:
      type: string
      enum:
      - critical
      - high
      - medium
      - low
      - unknown
      x-enum-varnames:
      - CveSeverityCritical
      - CveSeverityHigh
      - CveSeverityMedium
      - CveSeverityLow
      - CveSeverityUnknown
    NotificationResponse:
      type: object
      properties:
        created_at:
          type: string
        data:
          $ref: '#/components/schemas/NotificationData'
        id:
          type: string
        seen:
          type: boolean
        type:
          type: string
    NotificationData:
      type: object
      properties:
        entity_arch:
          type: string
        entity_id:
          type: string
        entity_name:
          type: string
        entity_version:
          type: string
        fixed_cves:
          type: array
          items:
            $ref: '#/components/schemas/FixedCVE'
        rrt_id:
          description: root_registry_tags.id for image notifications; NULL for packages.
          type: string
    Cursor:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        limit:
          type: integer
        total_count:
          description: TotalCount is the number of rows matching the list filters for endpoints that populate it (e.g. security findings list). Response-only.
          type: integer
    UnreadCountResponse:
      type: object
      properties:
        count:
          type: integer
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
