openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io System Matrix API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: System Matrix
paths:
  /external/globals/sys_matrix:
    get:
      description: Retrieve the supported operating systems, distro versions and ecosystems by root remediation process
      tags:
      - System Matrix
      summary: Retrieve The Supported System Matrix
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SysMatrix'
      operationId: getExternalGlobalsSysMatrix
      x-operation-id-source: derived
  /v3/sys_matrix:
    get:
      description: Retrieve the supported operating systems, distro versions and ecosystems by root remediation process
      tags:
      - System Matrix
      summary: Retrieve The Supported System Matrix
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SysMatrix'
      operationId: getV3SysMatrix
      x-operation-id-source: derived
components:
  schemas:
    Platform:
      type: object
      properties:
        architecture:
          type: string
        os:
          type: string
    SysMatrix:
      type: object
      properties:
        ecosystems:
          $ref: '#/components/schemas/Ecosystems'
        package_ecosystems:
          type: array
          items:
            type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
    Ecosystems:
      type: object
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/DistroVersionSupport'
    DistroVersionSupport:
      type: object
      properties:
        dev_code_name:
          type: string
        major_version:
          type: string
        support_scope:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
