openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io OSV Feed API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: OSVFeed
paths:
  /external/osv/all.json:
    get:
      description: Returns a lightweight index of all vulnerabilities with only id and modified timestamp. Industry standard format for OSV feeds. Clients should use this to check for updates and fetch individual records as needed.
      tags:
      - OSVFeed
      summary: Get OSV feed index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/osvfeed.IndexEntry'
      operationId: getExternalOsvAllJson
      x-operation-id-source: derived
    head:
      description: Returns HTTP headers with metadata (Last-Modified, ETag, Content-Length) about the index file without downloading the content. Useful for checking if the index has been updated.
      tags:
      - OSVFeed
      summary: Get OSV feed index metadata
      responses:
        '200':
          description: 'Headers: Last-Modified, ETag, Content-Length, Content-Type'
      operationId: headExternalOsvAllJson
      x-operation-id-source: derived
  /external/osv/all.zip:
    get:
      description: Returns a zip archive containing every individual OSV advisory as a flat {id}.json file. Mirrors the format used by osv.dev bulk downloads.
      tags:
      - OSVFeed
      summary: Get all OSV records as zip archive
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                type: string
                format: binary
      operationId: getExternalOsvAllZip
      x-operation-id-source: derived
  /external/osv/{id}.json:
    get:
      description: Returns the full vulnerability record for a specific OSV ID
      tags:
      - OSVFeed
      summary: Get individual OSV record
      parameters:
      - description: OSV ID (e.g., ROOT-OS-ALPINE-318-CVE-2023-1234)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/osvfeed.OSVVulnerability'
      operationId: getExternalOsv{id}Json
      x-operation-id-source: derived
    head:
      description: Returns HTTP headers with metadata (Last-Modified, ETag, Content-Length) about a specific OSV record without downloading the content. Useful for checking if a record has been updated.
      tags:
      - OSVFeed
      summary: Get individual OSV record metadata
      parameters:
      - description: OSV ID (e.g., ROOT-OS-ALPINE-318-CVE-2023-1234)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Headers: Last-Modified, ETag, Content-Length, Content-Type'
      operationId: headExternalOsv{id}Json
      x-operation-id-source: derived
components:
  schemas:
    osvfeed.OSVRange:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/osvfeed.OSVEvent'
        type:
          type: string
          example: ECOSYSTEM
    osvfeed.OSVAffected:
      type: object
      properties:
        package:
          $ref: '#/components/schemas/osvfeed.OSVPackage'
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/osvfeed.OSVRange'
    osvfeed.OSVPackage:
      type: object
      properties:
        ecosystem:
          type: string
          example: Alpine:3.18
        name:
          type: string
          example: root-openssl
        purl:
          type: string
          example: pkg:apk/alpine/root-openssl@3.0.8-r10071?arch=source&distro=alpine-3.18
    osvfeed.OSVReference:
      type: object
      properties:
        type:
          type: string
          example: WEB
        url:
          type: string
          example: https://root.io/security/ROOT-OS-ALPINE-318-CVE-2023-1234
    osvfeed.OSVVulnerability:
      type: object
      properties:
        affected:
          type: array
          items:
            $ref: '#/components/schemas/osvfeed.OSVAffected'
        aliases:
          type: array
          items:
            type: string
          example:
          - CVE-2023-1234
        details:
          type: string
        id:
          type: string
          example: ROOT-OS-ALPINE-318-CVE-2023-1234
        modified:
          type: string
          example: '2024-11-24T00:00:00Z'
        published:
          type: string
          example: '2024-01-15T00:00:00Z'
        references:
          type: array
          items:
            $ref: '#/components/schemas/osvfeed.OSVReference'
        schema_version:
          type: string
          example: 1.6.0
        summary:
          type: string
          example: CVE-2023-1234 in root-openssl - Patched by Root
    osvfeed.OSVEvent:
      type: object
      properties:
        fixed:
          type: string
          example: 3.0.8-r10071
        introduced:
          type: string
          example: '0'
    osvfeed.IndexEntry:
      type: object
      properties:
        id:
          type: string
        modified:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
