openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Patches API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Patches
paths:
  /v3/patches:
    get:
      security:
      - BasicAuth: []
      description: List and search CVE tickets with filters, org-scoped for non-superadmins. Returns patch status (found, not_found, running) by checking Argo workflows.
      tags:
      - Patches
      summary: List CVE tickets (patches)
      parameters:
      - description: Filter by CVE ID
        name: cve_id
        in: query
        schema:
          type: string
      - description: Filter by package source name
        name: package_src_name
        in: query
        schema:
          type: string
      - description: Filter by ecosystem
        name: ecosystem
        in: query
        schema:
          type: string
      - description: Filter by package version (for app tickets)
        name: version
        in: query
        schema:
          type: string
      - description: Filter by OS distro major version (for OS tickets)
        name: os_distro_major
        in: query
        schema:
          type: string
      - description: Filter by severities (critical, high, medium, low)
        name: severities
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by ticket statuses (open, in_progress, done, deferred)
        name: ticket_statuses
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by patch status (found, not_found, running)
        name: patch_status
        in: query
        schema:
          type: string
      - description: Ordering (e.g., 'created_at:desc')
        name: order
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Cursor for pagination
        name: after
        in: query
        schema:
          type: string
      - description: Page size (default 100, max 1000)
        name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patches.SearchResult'
      operationId: getV3Patches
      x-operation-id-source: derived
  /v3/patches/{ticketID}/artifacts:
    get:
      security:
      - BasicAuth: []
      description: Returns the list of artifact files from the latest research run. Each entry contains a relative file path (name) and a download_key (the full S3 object key). Use the download_key to fetch individual artifacts.
      tags:
      - Patches
      summary: List research artifacts for a CVE ticket
      parameters:
      - description: CVE Ticket ID
        name: ticketID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patches.ArtifactsResult'
        '400':
          description: Invalid ticket ID
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: string
        '404':
          description: No research found
          content:
            application/json:
              schema:
                type: string
      operationId: getV3PatchesByTicketIDArtifacts
      x-operation-id-source: derived
  /v3/patches/{ticketID}/artifacts/{downloadKey}:
    get:
      security:
      - BasicAuth: []
      description: Downloads and streams a specific artifact file identified by its download_key (relative path from the list endpoint). URL-encode slashes as %2F.
      tags:
      - Patches
      summary: Download a specific research artifact
      parameters:
      - description: CVE Ticket ID
        name: ticketID
        in: path
        required: true
        schema:
          type: string
      - description: Artifact download key (relative path). URL-encode slashes as %2F
        name: downloadKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The artifact file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request
          content:
            application/octet-stream:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/octet-stream:
              schema:
                type: string
        '403':
          description: Forbidden
          content:
            application/octet-stream:
              schema:
                type: string
        '404':
          description: Artifact not found
          content:
            application/octet-stream:
              schema:
                type: string
      operationId: getV3PatchesByTicketIDArtifactsByDownloadKey
      x-operation-id-source: derived
components:
  schemas:
    patches.SearchResult:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/Cursor'
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/patches.TicketWithStatus'
    patches.PatchStatus:
      type: string
      enum:
      - found
      - not_found
      - running
      x-enum-varnames:
      - PatchStatusFound
      - PatchStatusNotFound
      - PatchStatusRunning
    patches.ArtifactFile:
      type: object
      properties:
        download_key:
          type: string
        name:
          type: string
    patches.ArtifactsResult:
      type: object
      properties:
        created_at:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/patches.ArtifactFile'
        research_id:
          type: string
        ticket_id:
          type: string
    patches.TicketWithStatus:
      type: object
      properties:
        created_at:
          type: string
        cve_id:
          type: string
        ecosystem:
          type: string
        os_distro_major:
          type: string
        package_src_name:
          type: string
        patch_found:
          type: boolean
        patch_found_at:
          type: string
        patch_status:
          $ref: '#/components/schemas/patches.PatchStatus'
        root_patch_provided:
          type: boolean
        severity:
          type: string
        ticket_id:
          type: string
        ticket_status:
          type: string
        updated_at:
          type: string
        version:
          type: string
        workflow_name:
          type: string
        workflow_running:
          type: boolean
    Cursor:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        limit:
          type: integer
        total_count:
          description: TotalCount is the number of rows matching the list filters for endpoints that populate it (e.g. security findings list). Response-only.
          type: integer
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
