openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Invitations API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Invitations
paths:
  /v3/invites:
    get:
      security:
      - BasicAuth: []
      description: Lists all invitations for the organization with pagination support
      tags:
      - Invitations
      summary: List organization invitations
      parameters:
      - description: Cursor for next page
        name: after
        in: query
        schema:
          type: string
      - description: Cursor for previous page
        name: before
        in: query
        schema:
          type: string
      - description: Page size (default 100, max 1000)
        name: limit
        in: query
        schema:
          type: integer
      - description: Ordering (e.g., 'created_at:desc')
        name: order
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvitesResponse'
      operationId: getV3Invites
      x-operation-id-source: derived
    post:
      security:
      - BasicAuth: []
      description: Creates an organization invite in the database. Email is validated if provided.
      tags:
      - Invitations
      summary: Create organization invite
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInviteRequest'
        description: Invite request
        required: true
      operationId: postV3Invites
      x-operation-id-source: derived
  /v3/invites/{inviteID}/accept:
    post:
      security:
      - BasicAuth: []
      description: Accepts an organization invite and adds the account to the organization with the specified role.
      tags:
      - Invitations
      summary: Accept organization invite
      parameters:
      - description: Invite ID
        name: inviteID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteAcceptAccountResponse'
      operationId: postV3InvitesByInviteIDAccept
      x-operation-id-source: derived
  /v3/invites/{inviteID}/email:
    post:
      security:
      - BasicAuth: []
      description: Sends an invitation email for an existing invite
      tags:
      - Invitations
      summary: Send invite email
      parameters:
      - description: Invite ID
        name: inviteID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteEmailResponse'
      operationId: postV3InvitesByInviteIDEmail
      x-operation-id-source: derived
components:
  schemas:
    ListInvitesResponse:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/Cursor'
        data:
          type: array
          items:
            $ref: '#/components/schemas/InviteResponse'
    InviteEmailResponse:
      type: object
      properties:
        email_status:
          type: string
        invite:
          $ref: '#/components/schemas/InviteResponse'
    InviteAcceptAccountResponse:
      type: object
      properties:
        email:
          type: string
        id:
          type: string
        name:
          type: string
        organization_id:
          type: string
        role:
          $ref: '#/components/schemas/Role'
    InviteResponse:
      type: object
      properties:
        email:
          type: string
        id:
          type: string
        issuer_id:
          type: string
        organization_id:
          type: string
        role:
          $ref: '#/components/schemas/Role'
    Role:
      type: string
      enum:
      - admin
      - member
      - readonly
      x-enum-varnames:
      - RoleAdmin
      - RoleMember
      - RoleReadonly
    CreateInviteRequest:
      type: object
      required:
      - role
      properties:
        email:
          type: string
        role:
          $ref: '#/components/schemas/Role'
    Cursor:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        limit:
          type: integer
        total_count:
          description: TotalCount is the number of rows matching the list filters for endpoints that populate it (e.g. security findings list). Response-only.
          type: integer
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
