openapi: 3.2.0
info:
  description: This is the API documentation for Root.io.
  title: Root.io Organizations API
  termsOfService: https://www.root.io/terms-of-service
  contact: {}
  version: '1.0'
servers:
- url: https://api.root.io
tags:
- name: Organizations
paths:
  /v3/orgs:
    get:
      security:
      - BasicAuth: []
      description: Get current user's organization with accounts (excluding superadmins) and billing preloaded
      tags:
      - Organizations
      summary: Get own organization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
      operationId: getV3Orgs
      x-operation-id-source: derived
    post:
      security:
      - BasicAuth: []
      description: 'Creates a new organization and assigns the creator to it with admin role.

        The creator account must not already belong to an organization.'
      tags:
      - Organizations
      summary: Create organization
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
        description: Organization create request
        required: true
      operationId: postV3Orgs
      x-operation-id-source: derived
components:
  schemas:
    OrganizationKind:
      type: string
      enum:
      - public
      - private
      x-enum-varnames:
      - OrganizationKindPublic
      - OrganizationKindPrivate
    Role:
      type: string
      enum:
      - admin
      - member
      - readonly
      x-enum-varnames:
      - RoleAdmin
      - RoleMember
      - RoleReadonly
    CreateOrganizationRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    AccountBrief:
      type: object
      properties:
        email:
          type: string
        id:
          type: string
        name:
          type: string
        role:
          $ref: '#/components/schemas/Role'
    OrganizationResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountBrief'
        billing_id:
          type: string
        created_at:
          type: string
        id:
          type: string
        kind:
          $ref: '#/components/schemas/OrganizationKind'
        name:
          type: string
        updated_at:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
