{
    "schemes": ["https"],
    "swagger": "2.0",
    "info": {
        "description": "This is the API documentation for Root.io.",
        "title": "Root.io API",
        "termsOfService": "https://www.root.io/terms-of-service",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.root.io",
    "basePath": "",
    "paths": {
        "/external/cve_feed": {
            "get": {
                "description": "Downloads and returns JSON data from S3 for CVE feed consumption. No authentication required.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CveFeed"
                ],
                "summary": "Get CVE feed data",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "/external/globals/sys_matrix": {
            "get": {
                "description": "Retrieve the supported operating systems, distro versions and ecosystems by root remediation process",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System Matrix"
                ],
                "summary": "Retrieve The Supported System Matrix",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SysMatrix"
                        }
                    }
                }
            }
        },
        "/external/osv/all.json": {
            "get": {
                "description": "Returns a lightweight index of all vulnerabilities with only id and modified timestamp. Industry standard format for OSV feeds. Clients should use this to check for updates and fetch individual records as needed.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "OSVFeed"
                ],
                "summary": "Get OSV feed index",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/osvfeed.IndexEntry"
                            }
                        }
                    }
                }
            },
            "head": {
                "description": "Returns HTTP headers with metadata (Last-Modified, ETag, Content-Length) about the index file without downloading the content. Useful for checking if the index has been updated.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "OSVFeed"
                ],
                "summary": "Get OSV feed index metadata",
                "responses": {
                    "200": {
                        "description": "Headers: Last-Modified, ETag, Content-Length, Content-Type"
                    }
                }
            }
        },
        "/external/osv/all.zip": {
            "get": {
                "description": "Returns a zip archive containing every individual OSV advisory as a flat {id}.json file. Mirrors the format used by osv.dev bulk downloads.",
                "produces": [
                    "application/zip"
                ],
                "tags": [
                    "OSVFeed"
                ],
                "summary": "Get all OSV records as zip archive",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "file"
                        }
                    }
                }
            }
        },
        "/external/osv/{id}.json": {
            "get": {
                "description": "Returns the full vulnerability record for a specific OSV ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "OSVFeed"
                ],
                "summary": "Get individual OSV record",
                "parameters": [
                    {
                        "type": "string",
                        "description": "OSV ID (e.g., ROOT-OS-ALPINE-318-CVE-2023-1234)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/osvfeed.OSVVulnerability"
                        }
                    }
                }
            },
            "head": {
                "description": "Returns HTTP headers with metadata (Last-Modified, ETag, Content-Length) about a specific OSV record without downloading the content. Useful for checking if a record has been updated.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "OSVFeed"
                ],
                "summary": "Get individual OSV record metadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "OSV ID (e.g., ROOT-OS-ALPINE-318-CVE-2023-1234)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Headers: Last-Modified, ETag, Content-Length, Content-Type"
                    }
                }
            }
        },
        "/external/patch_feed": {
            "get": {
                "description": "Retrieves CVE tickets with status \"done\" for public patch feed consumption. No authentication required.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "PatchFeed"
                ],
                "summary": "Get patch feed data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Ecosystem (e.g., alpine, debian, ubuntu)",
                        "name": "ecosystem",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "OS distribution major version (e.g., 3.15, 12, 22.04)",
                        "name": "os_distro_major",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Package Source Name",
                        "name": "package_src_name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PatchFeedResponse"
                        }
                    }
                }
            }
        },
        "/v3/accounts": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "List accounts in an organization with cursor-based pagination",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "List accounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "After cursor for next page",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Before cursor for previous page",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Page size (max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Ordering (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by email",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "admin",
                            "member",
                            "readonly"
                        ],
                        "type": "string",
                        "description": "Filter by role (admin, member, readonly)",
                        "name": "role",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListAccountsPagedResponse"
                        }
                    }
                }
            }
        },
        "/v3/accounts/{account_id}": {
            "delete": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Delete an account from the organization",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Delete account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "account_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Update account role (org-scoped)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Update account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "account_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Account update request",
                        "name": "account",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateAccountRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountResponse"
                        }
                    }
                }
            }
        },
        "/v3/analyze/apk": {
            "post": {
                "description": "Accepts a list of installed APK/Alpine packages with explicit ecosystem and distro version, returns Root.io patched versions with aliased names and official repo upgrades",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get APK package remediation recommendations",
                "parameters": [
                    {
                        "description": "Package list with OS ecosystem and distro version",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/analyze.AnalyzeOsPackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/analyze.AnalyzeOsPackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/apt": {
            "post": {
                "description": "Accepts a list of installed APT/Debian/Ubuntu packages with explicit ecosystem and distro version, returns Root.io patched versions with aliased names and official repo upgrades",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get APT package remediation recommendations",
                "parameters": [
                    {
                        "description": "Package list with OS ecosystem and distro version",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/analyze.AnalyzeOsPackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/analyze.AnalyzeOsPackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/composer": {
            "post": {
                "description": "Accepts a list of installed Composer packages and returns Root.io patched versions with aliased names",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get Composer package remediation recommendations",
                "parameters": [
                    {
                        "description": "Package list",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ComposerAnalyzePackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ComposerAnalyzePackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/golang": {
            "post": {
                "description": "Accepts a list of installed Go modules and returns Root.io patched versions with aliased module paths",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get Go module remediation recommendations",
                "parameters": [
                    {
                        "description": "Module list",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GolangAnalyzePackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GolangAnalyzePackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/maven": {
            "post": {
                "description": "Accepts a list of installed Maven packages and returns Root.io patched versions with aliased names",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get Maven package remediation recommendations",
                "parameters": [
                    {
                        "description": "Package list",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MavenAnalyzePackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MavenAnalyzePackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/npm": {
            "post": {
                "description": "Accepts a list of installed NPM packages and returns Root.io patched versions with aliased names",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get NPM package remediation recommendations",
                "parameters": [
                    {
                        "description": "Package list",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NpmAnalyzePackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NpmAnalyzePackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/nuget": {
            "post": {
                "description": "Accepts a list of installed NuGet packages and returns Root.io patched versions with aliased names",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get NuGet package remediation recommendations",
                "parameters": [
                    {
                        "description": "Package list",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NugetAnalyzePackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NugetAnalyzePackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/pypi": {
            "post": {
                "description": "Accepts a list of installed packages and returns Root.io patched versions with aliased names",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get PyPI package remediation recommendations",
                "deprecated": true,
                "parameters": [
                    {
                        "description": "Package list",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PyPiAnalyzePackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PyPiAnalyzePackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/analyze/yum": {
            "post": {
                "description": "Accepts a list of installed YUM/DNF packages (Amazon Linux, RHEL, Rocky, Fedora) with explicit ecosystem and distro version, returns Root.io patched versions with aliased names and official repo upgrades",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get YUM/DNF package remediation recommendations",
                "parameters": [
                    {
                        "description": "Package list with OS ecosystem and distro version",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/analyze.AnalyzeOsPackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/analyze.AnalyzeOsPackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/api_keys": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "List API keys with cursor-based pagination and filtering",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Keys"
                ],
                "summary": "List API keys",
                "parameters": [
                    {
                        "type": "string",
                        "description": "After cursor for next page",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Before cursor for previous page",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Page size (max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Ordering (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by account ID",
                        "name": "account_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by active status",
                        "name": "active",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListAPIKeysPagedResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Creates a new API key for the authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Keys"
                ],
                "summary": "Create API key",
                "parameters": [
                    {
                        "description": "API key create request",
                        "name": "api_key",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateAPIKeyRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/APIKeyResponse"
                        }
                    }
                }
            }
        },
        "/v3/api_keys/{api_key_id}": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves a specific API key by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Keys"
                ],
                "summary": "Get API key",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key ID",
                        "name": "api_key_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIKeyResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Delete an API key",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Keys"
                ],
                "summary": "Delete API key",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key ID",
                        "name": "api_key_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIKeyResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Partially update an API key",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "API Keys"
                ],
                "summary": "Patch API key",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key ID",
                        "name": "api_key_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "API key patch request",
                        "name": "api_key",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PatchAPIKeyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIKeyResponse"
                        }
                    }
                }
            }
        },
        "/v3/auth/direct": {
            "post": {
                "description": "Authenticate user with provider credentials and SSO groups",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Authentication"
                ],
                "summary": "Direct authentication",
                "parameters": [
                    {
                        "description": "Authentication request",
                        "name": "auth",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DirectAuthRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DirectAuthResponse"
                        }
                    }
                }
            }
        },
        "/v3/avrs": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves AVRs with cursor-based pagination and comprehensive filtering",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AVR"
                ],
                "summary": "List AVRs with pagination and filtering",
                "parameters": [
                    {
                        "type": "string",
                        "description": "After cursor for next page",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Before cursor for previous page",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Page size (max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Ordering (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by architectures",
                        "name": "arch",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by ecosystems",
                        "name": "ecosystem",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by OS distro major versions",
                        "name": "os_distro_major",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Fuzzy filter on target image",
                        "name": "target_image",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Return unique combinations by (target_image, ecosystem, os_distro_major, arch)",
                        "name": "unique",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListAVRsPagedResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Creates a new AVR and triggers the remediation workflow",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AVR"
                ],
                "summary": "Create an AVR",
                "parameters": [
                    {
                        "description": "AVR create request",
                        "name": "avr",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateAVRRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AVRResponse"
                        }
                    }
                }
            }
        },
        "/v3/avrs/{avr_id}": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves the AVR of the organization with the given avr_id.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AVR"
                ],
                "summary": "Get an AVR",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AVR ID",
                        "name": "avr_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AVRResponse"
                        }
                    }
                }
            }
        },
        "/v3/avrs/{avr_id}/artifacts/dockerfile": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves a presigned URL for the Dockerfile used in remediation",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AVR"
                ],
                "summary": "Get dockerfile for an AVR",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AVR ID",
                        "name": "avr_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DockerfileResponse"
                        }
                    }
                }
            }
        },
        "/v3/avrs/{avr_id}/artifacts/provenance": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves a presigned URL for the SLSA provenance file",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AVR"
                ],
                "summary": "Get provenance file for an AVR",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AVR ID",
                        "name": "avr_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AVRProvenanceFileResponse"
                        }
                    }
                }
            }
        },
        "/v3/avrs/{avr_id}/artifacts/sbom": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves a presigned URL for the SBOM file from the post-remediation scan",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AVR"
                ],
                "summary": "Get SBOM file for an AVR",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AVR ID",
                        "name": "avr_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SBOMFileResponse"
                        }
                    }
                }
            }
        },
        "/v3/avrs/{avr_id}/artifacts/vex": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves a presigned URL for the VEX (Vulnerability Exploitability eXchange) file",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AVR"
                ],
                "summary": "Get VEX file for an AVR",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AVR ID",
                        "name": "avr_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VEXFileResponse"
                        }
                    }
                }
            }
        },
        "/v3/billing": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves the billing record for the authenticated user's organization",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Billing"
                ],
                "summary": "Get billing for current organization",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BillingResponseV3"
                        }
                    }
                }
            }
        },
        "/v3/discovered-packages": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves discovered packages with vulnerability tracking and Root.io upgrade availability",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Core - Discovered Packages V3"
                ],
                "summary": "List discovered packages from artifact repositories",
                "parameters": [
                    {
                        "type": "string",
                        "description": "After cursor for pagination",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Before cursor for pagination",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 100, max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Order by (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "pypi",
                            "npm",
                            "maven",
                            "nuget"
                        ],
                        "type": "string",
                        "description": "Filter by ecosystem",
                        "name": "ecosystem",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by package name (source name)",
                        "name": "package_name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovered_packages.ListDiscoveredPackagesPagedResponse"
                        }
                    }
                }
            }
        },
        "/v3/discovery": {
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Creates complete CVE record chain: scan_packages, cves, cve_tickets, unpatched_cve_metadata",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Discovery"
                ],
                "summary": "Create discovered package with CVE",
                "parameters": [
                    {
                        "description": "Package and CVE data",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.CreateDiscoveredPackageRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/discovery.CreateDiscoveredPackageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Account not found in context",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "CVE already exists",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/discovery/bulk": {
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Persists the array to bulk_discovery_jobs, atomically XADDs each item\nto the cve_discovery_events Redis stream, and best-effort deletes the\nrow on success. Items are then processed asynchronously by\npackages-events-consumer (same write path as the single endpoint).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Discovery"
                ],
                "summary": "Bulk discover packages with CVEs (async)",
                "parameters": [
                    {
                        "description": "Array of items",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.CreateDiscoveredPackagesBulkRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/discovery.CreateDiscoveredPackagesBulkResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Account not found in context",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "413": {
                        "description": "Request body exceeds 32MB",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/invites": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Lists all invitations for the organization with pagination support",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Invitations"
                ],
                "summary": "List organization invitations",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Cursor for next page",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor for previous page",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 100, max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Ordering (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListInvitesResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Creates an organization invite in the database. Email is validated if provided.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Invitations"
                ],
                "summary": "Create organization invite",
                "parameters": [
                    {
                        "description": "Invite request",
                        "name": "invite",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateInviteRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/InviteResponse"
                        }
                    }
                }
            }
        },
        "/v3/invites/{inviteID}/accept": {
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Accepts an organization invite and adds the account to the organization with the specified role.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Invitations"
                ],
                "summary": "Accept organization invite",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Invite ID",
                        "name": "inviteID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InviteAcceptAccountResponse"
                        }
                    }
                }
            }
        },
        "/v3/invites/{inviteID}/email": {
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Sends an invitation email for an existing invite",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Invitations"
                ],
                "summary": "Send invite email",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Invite ID",
                        "name": "inviteID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InviteEmailResponse"
                        }
                    }
                }
            }
        },
        "/v3/me": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Returns the authenticated user's account with organization details",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get current user's account",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountResponse"
                        }
                    }
                }
            }
        },
        "/v3/notifications": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "List the caller-org's notifications, cursor-paged, default sort created_at:desc.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notifications"
                ],
                "summary": "List notifications",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Cursor for next page",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor for previous page",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 100, max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Ordering (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by seen state",
                        "name": "seen",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListNotificationsResponse"
                        }
                    }
                }
            }
        },
        "/v3/notifications/read_all": {
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Flip every unseen notification in the caller's org to seen=true. Idempotent.",
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all notifications as seen",
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/v3/notifications/unread-count": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Returns the number of unseen notifications for the caller's org.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notifications"
                ],
                "summary": "Count unread notifications",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UnreadCountResponse"
                        }
                    }
                }
            }
        },
        "/v3/notifications/{notificationID}": {
            "patch": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Update the `seen` state of a notification. Only `seen` is mutable.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notifications"
                ],
                "summary": "Patch a notification (mark seen/unseen)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Notification ID",
                        "name": "notificationID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Patch payload",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PatchNotificationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NotificationResponse"
                        }
                    }
                }
            }
        },
        "/v3/orgs": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Get current user's organization with accounts (excluding superadmins) and billing preloaded",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Organizations"
                ],
                "summary": "Get own organization",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Creates a new organization and assigns the creator to it with admin role.\nThe creator account must not already belong to an organization.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Organizations"
                ],
                "summary": "Create organization",
                "parameters": [
                    {
                        "description": "Organization create request",
                        "name": "organization",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateOrganizationRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/OrganizationResponse"
                        }
                    }
                }
            }
        },
        "/v3/packages": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves packages from vulnerability scans with cursor-based pagination and comprehensive filtering",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Package"
                ],
                "summary": "List packages with pagination and filtering",
                "parameters": [
                    {
                        "type": "string",
                        "description": "After cursor for next page",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Before cursor for previous page",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Page size (max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Ordering (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by AVR Scan IDs",
                        "name": "avr_scan_ids",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "arm64",
                                "amd64"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by architectures",
                        "name": "arch",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by ecosystems",
                        "name": "ecosystem",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by OS distro releases",
                        "name": "os_distro_release",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by package versions",
                        "name": "versions",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Fuzzy filter on package name",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Fuzzy filter on source package name",
                        "name": "src_name",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by licenses",
                        "name": "licenses",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by CVE IDs",
                        "name": "cve_ids",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "critical",
                                "high",
                                "medium",
                                "low",
                                "unknown"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by CVE severities",
                        "name": "severities",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Only packages with fixable vulnerabilities",
                        "name": "fixable",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "discovered",
                            "subscribed"
                        ],
                        "type": "string",
                        "description": "Get the packages with their resolved CVEs according to the source - subscribed image or discovered package in repo",
                        "name": "package_source",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "met",
                                "breached",
                                "active",
                                "not_applicable"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by SLA status",
                        "name": "sla_status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListPackagesPagedResponse"
                        }
                    }
                }
            }
        },
        "/v3/packages/{pkg_id}": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves a packages of from image catalog or the users discovered",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Package"
                ],
                "summary": "Get a package by its ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AVR ID",
                        "name": "pkg_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ScanPackageResponse"
                        }
                    }
                }
            }
        },
        "/v3/packages/{pkg_id}/artifacts/patches": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves presigned URLs for all patch files available for a specific package",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Package"
                ],
                "summary": "Get patch files for a package",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Package ID",
                        "name": "pkg_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PatchFilesResponse"
                        }
                    }
                }
            }
        },
        "/v3/packages/{pkg_id}/artifacts/provenance": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves a presigned URL for the SLSA provenance file of a specific package",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Package"
                ],
                "summary": "Get provenance file for a package",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Package ID",
                        "name": "pkg_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PackageProvenanceFileResponse"
                        }
                    }
                }
            }
        },
        "/v3/patches": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "List and search CVE tickets with filters, org-scoped for non-superadmins. Returns patch status (found, not_found, running) by checking Argo workflows.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Patches"
                ],
                "summary": "List CVE tickets (patches)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by CVE ID",
                        "name": "cve_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by package source name",
                        "name": "package_src_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by ecosystem",
                        "name": "ecosystem",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by package version (for app tickets)",
                        "name": "version",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by OS distro major version (for OS tickets)",
                        "name": "os_distro_major",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by severities (critical, high, medium, low)",
                        "name": "severities",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by ticket statuses (open, in_progress, done, deferred)",
                        "name": "ticket_statuses",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by patch status (found, not_found, running)",
                        "name": "patch_status",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Ordering (e.g., 'created_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor for pagination",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default 100, max 1000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/patches.SearchResult"
                        }
                    }
                }
            }
        },
        "/v3/patches/{ticketID}/artifacts": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Returns the list of artifact files from the latest research run. Each entry contains a relative file path (name) and a download_key (the full S3 object key). Use the download_key to fetch individual artifacts.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Patches"
                ],
                "summary": "List research artifacts for a CVE ticket",
                "parameters": [
                    {
                        "type": "string",
                        "description": "CVE Ticket ID",
                        "name": "ticketID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/patches.ArtifactsResult"
                        }
                    },
                    "400": {
                        "description": "Invalid ticket ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "No research found",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/patches/{ticketID}/artifacts/{downloadKey}": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Downloads and streams a specific artifact file identified by its download_key (relative path from the list endpoint). URL-encode slashes as %2F.",
                "produces": [
                    "application/octet-stream"
                ],
                "tags": [
                    "Patches"
                ],
                "summary": "Download a specific research artifact",
                "parameters": [
                    {
                        "type": "string",
                        "description": "CVE Ticket ID",
                        "name": "ticketID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact download key (relative path). URL-encode slashes as %2F",
                        "name": "downloadKey",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The artifact file",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Artifact not found",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/remediate/pypi": {
            "post": {
                "description": "Accepts a list of installed packages and returns Root.io patched versions with aliased names",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Remediation"
                ],
                "summary": "Get PyPI package remediation recommendations",
                "deprecated": true,
                "parameters": [
                    {
                        "description": "Package list",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PyPiAnalyzePackagesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PyPiAnalyzePackagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v3/security_findings": {
            "get": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Retrieves security findings for the authenticated org with cursor-based pagination and filtering",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Security Findings"
                ],
                "summary": "List security findings with pagination",
                "parameters": [
                    {
                        "type": "string",
                        "description": "After cursor for next page",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Before cursor for previous page",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Page size (max 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Ordering (e.g., 'created_at:desc', 'status_changed_at:desc')",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by root registry tag ID (Image Report)",
                        "name": "rrt_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by AVR ID (Image Report)",
                        "name": "avr_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by package ID (Library Report)",
                        "name": "package_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by CVE identifier",
                        "name": "cve_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by package source name",
                        "name": "src_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by package ecosystem",
                        "name": "ecosystem",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by OS distro release",
                        "name": "os_distro_release",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by package version",
                        "name": "version",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "image",
                            "library"
                        ],
                        "type": "string",
                        "description": "Filter by finding type ('image' or 'library')",
                        "name": "finding_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "researching",
                            "creating_a_patch",
                            "patch_available",
                            "fixed"
                        ],
                        "type": "string",
                        "description": "Filter by remediation status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "critical",
                                "high",
                                "medium",
                                "low",
                                "unknown"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter by severity; repeat for multiple",
                        "name": "severity",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "os",
                                "app"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "os/app layer; repeat both to clear filter",
                        "name": "level",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by supported ecosystem status (true = supported ecosystem, false = non-supported ecosystem)",
                        "name": "supported_ecosystem",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter: created_at \u003e= (RFC3339 timestamp)",
                        "name": "created_at_gte",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter: created_at \u003c (RFC3339 timestamp)",
                        "name": "created_at_lt",
                        "in": "query"
                    },
                    {
[...]
